
<html>
<body>
<p>Добро пожаловать на сервис!</p>
<p>Далее вам будет предложено заполнить три поля, которые будут являться id групп в vk.<p>
<p> Если группа будет не найдена или одно из полей не заполнено - будет вызвано сообщение об ошибке.<p>
<p> В случае успеха будут построено 4 графика частотности ключевых слов по тематике "фильмы".</p>
<p> Заданные:    "режиссёр", "кино", "премьера", "показ", "блокбастер".</p>
<p> Слова найденные через семантические вектора: </p>
<p> 
    {% for word in words%}
        <li>  {{ word }} </li>
    {% endfor %}
 </p>
<p> Для теста используются занчения в полях по умолчанию. </p>
<form action="/serv">
<p><i>Первая группа </i> <input type="text" name="first" value="62903548"></p>
<p><i>Вторая группа </i> <input type="text" name="second" value="76819483"></p>
<p><i>Третья группа </i> <input type="text" name="third" value="158694077"></p>

<p><input type="submit"></p>
    
</body>
</html> 


